
build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/\.qmake\.stash

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/main\.o

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/qrc_qml\.cpp

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/qrc_qml\.o

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/Qtpi\.exe

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/Makefile

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/Makefile\.Debug

build-Qtpi-Desktop_Qt_5_9_1_MinGW_32bit-Debug/Makefile\.Release
